body {
    font-family: sans-serif;
    padding-top: 56px;
}

.issue-show-page {
    color: blue;
    text-align: center;
}

.bg-primary {
    background-image: url('/images/banner-one.jpg');
    background-size: cover;
    height: 355px;
    
}

.card-img-top {
    height: 440px;
}

.parent {
    display: grid;
    grid-template-columns: 1140px;
    justify-content: center;
}

.service-one {
    display: flex;
    justify-content: center;
}

.parent h1 {
    text-align: center;
}


form input {
    display: flex;
    justify-content: center;
    width: 100%;
}

.button {
    margin-top: 20px;
}

.btn-dark {
    width: 100%;
}

/*
.btn-primary {
    width: 100%;
}*/


