body {
    font-family: sans-serif;
    padding-top: 56px;
}

.issue-show-page {
    color: blue;
    text-align: center;
}

.bg-primary {
    background-image: url('/images/banner-one.jpg');
    background-size: cover;
    height: 355px;
    
}

.card-img-top {
    height: 440px;
}

.parent {
    display: grid;
    grid-template-columns: 1140px;
    justify-content: center;
}

.service-one {
    display: flex;
    justify-content: center;
}

.parent h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


form input {
    display: flex;
    width: 100%;
}

.button {
    margin-top: 20px;
}

.btn-dark {
    width: 100%;
}

h1 {
    font-family: 'Abril Fatface';
}

h4 {
    font-family: 'Abril Fatface';
    font-size: 1.38rem !important;
}

.home-styles {
    font-family: 'Abril Fatface';
}

.welcome {
    color: white;
}

p {
    font-family: 'Open Sans';
}

/*
.btn-primary {
    width: 100%;
}*/


