<section class="parent">
    <div class="service-one">

        <h1>Nail Client Profiles</h1>
        <ul>
        {{#each nails }}
            <li><a href="/nails/{{ id }}">{{ name }} {{ apptDate }}</a></li>
        {{/each}}
        </ul>

        <a href="/nails/new">Create New Client Profile</a> <br/>
        <a href="/">Go Back To Dasboard</a>

    </div><!---service-one--->

</section><!---End of Parent class-->