<section class="parent">
    <h1>Nail Client Profiles</h1>
    <div class="service-one">
    
        <ul>
        {{#each nails }}
            <li><a href="/nails/{{ id }}">{{ name }} | {{ phoneNum }} | {{ email }}</a></li>
        {{/each}}
        </ul>
    
    </div><!---service-one--->

    <a href="/nails/new" class="btn btn-dark">Create New Client Profile</a> <br/>
    <a href="/" class="btn btn-dark">Go Back To Dasboard</a>

</section><!---End of Parent class-->