<section class="parent">
    <h1>Nail Client Profiles</h1>
    <div class="service-one">
    
        <ul>
        {{#each nails }}
            <li><a href="/nails/{{ id }}">{{ name }} {{ apptDate }}</a></li>
        {{/each}}
        </ul>
    
    </div><!---service-one--->

    <a href="/nails/new" class="btn btn-primary">Create New Client Profile</a> <br/>
    <a href="/" class="btn btn-primary">Go Back To Dasboard</a>

</section><!---End of Parent class-->