<section class="parent">
<h1>Create New Nails Client Profile</h1>
<form method="POST" action="/nails">
  <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  --->
    <input type="text" placeholder="Name" name="name"/><br/>
    <input type="text" placeholder="Phone Number" name="phoneNum"/><br/>
    <input type="text" placeholder="Email Address" name="email"/><br/>
    <input type="date" placeholder="Appointment Date" name="apptDate"/><br/>
    <input type="text" placeholder="Client Notes" name="notes"/><br/>
    <select name="nailType">
        <option value="Round">Round</option>
        <option value="Square">Square</option>
        <option value="Rounded Square">Rounded Square</option>
        <option value="Round">Oval</option>
        <option value="Square">Squoval</option>
        <option value="Rounded Square">Ballerina</option>
        <option value="Square">Almond</option>
        <option value="Rounded Square">Stileto</option>
    </select>

    <input type="submit" value="Create Nails Client"/>
</form>
</section>