<section class="parent">
    <h1>Makeup Client Profiles</h1>
    <div class="service-one">
        
        <ul>
        {{#each makeups }}
            <li><a href="/makeups/{{ id }}">{{ name }} | {{ phoneNum }} | {{ email }}</a></li>
        {{/each}}
        </ul>

    </div><!---service-one--->

    <a href="/makeups/new" class="btn btn-dark">Create New Client Profile</a> <br/>
    <a href="/" class="btn btn-dark">Go Back To Dasboard</a>

</section><!---End of Parent class-->
