<h1>Create New Makeup Client Profile</h1>
<form method="POST" action="/makeups">

  <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  --->
    <input type="text" placeholder="Name" name="name"/><br/>
    <input type="text" placeholder="Phone Number" name="phoneNum"/><br/>
    <input type="text" placeholder="Email Address" name="email"/><br/>
    <input type="date" placeholder="Appointment Date" name="apptDate"/><br/>
    <input type="text" placeholder="Client Notes" name="notes"/><br/>
    <select name="skinType">
        <option value="Dry">Dry</option>
        <option value="Oily">Oily</option>
        <option value="Normal">Normal</option>
        <option value="Combination">Combination</option>
        <option value="Mature">Mature</option>
        <option value="Sensitive">Sensitive</option>
    </select><br/>

    <input type="submit" value="Create Makeup Client"/>
</form>