<section class="parent">
    <h1>Hair Client Profiles</h1>
    <div class="service-one">

        <ul>
        {{#each hairs }}
            <li><a href="/hairs/{{ id }}">{{ name }} {{ apptDate }}</a></li>
        {{/each}}
        </ul>

    </div><!---service-one--->

    <a href="/hairs/new" class="btn btn-dark">Create New Client Profile</a> <br/>
    <a href="/" class="btn btn-dark">Go Back To Dasboard</a>

</section><!---End of Parent class-->