<section class="parent">
<h1>Create New Hair Client Profile</h1>
<form method="POST" action="/hairs">
    <h4>Client Name:</h4>
    <input type="text" placeholder="Name" name="name"/><br/>
    <h4>Phone Number:</h4>
    <input type="text" placeholder="Phone Number" name="phoneNum"/><br/>
    <h4>Email Address:</h4>
    <input type="text" placeholder="Email Address" name="email"/><br/>
    <h4>Date Joined:</h4>
    <input type="date" placeholder="Appointment Date" name="apptDate"/><br/>
    <h4>Enter Product Preferences:</h4>
    <input type="text" placeholder="Client Notes" name="notes"/><br/>
    <h4>Hair Type:</h4>
    <select name="hairType">
        <option value="Straight">Straight</option>
        <option value="Curly">Curly</option>
        <option value="Afro-Textured">Afro-Textured</option>
    </select>

    <input class="btn btn-dark button" type="submit" value="Create Hair Client"/>
</form>
</section>